<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] [%logger{36}] -> %msg%n"
                    charset="UTF-8"/>
        </Console>
        <RollingFile name="roll-by-time"
                     fileName="C:\spring-application-logs\order-service\Current.log"
                     filePattern="C:\spring-application-logs\order-service\Archive_%d{MM-dd-yyyy}.log"
                     ignoreExceptions="false">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] [%logger{36}] -> %msg%n"
                    charset="UTF-8"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="roll-by-time"/>
        </Root>
    </Loggers>
</Configuration>